.message-box {
 display: block;
 margin: 10px auto;
 width: 90%;
 height: 400px;
 overflow-y: scroll;
}
.message {
  display: block;
  text-align: left;
  margin-bottom: 10px;
  padding: 0 20px;
  width: 100%;
  min-height: 30px;
  line-height: 30px;
  .name {
    margin-right: 10px;
    font-size: 16px;
    font-weight: 600;
  }
  .content {
    font-size: 13px;
  }
}
